.Titles-commit {
  color: white;
  background: #337ab7;
  border: 1px solid #2e6da4;
}

.Titles-grid {
  display: grid;
  grid-template-columns: 50px 30px 1fr 50px 200px 60px;
  grid-column-gap: 10px;
}

@media screen and (max-width: 543px) {
  .Titles-grid {
    grid-template-columns: 50px 1fr;
    margin-bottom: 2px;
  }

  .Titles-run {
    color: gray;
  }
}
